.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* color naming*/

/* card styling before griding- mobile-first approach*/
body {
  background-color: #fafafa;
  font-family: "Poppins";
  color: hsl(212, 6%, 44%);
}
.content-head {
  font-size: 1.5rem;
  text-align: center;
}
.bold-text {
  font-weight: 600;
  font-size: 1.6rem;
}
.bold-text,
h2 {
  color: hsl(234, 12%, 34%);
}
.content-body {
  width: 20rem;
  margin-top: -1.25rem;
  margin-bottom: 1.25rem;
  text-align: center;
}
.card-1,
.card-2,
.card-3,
.card-4 {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  width: 20rem;
  height: 12.5rem;
  padding: 1.563rem;
  padding-top: 0;
  background-color: hsl(0, 0%, 100%);
  border-top: solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* box-shadow: black; */
}
.card-2 {
  border-color: hsl(0, 78%, 62%);
}
.card-1 {
  border-color: hsl(180, 62%, 55%);
}
.card-3 {
  border-color: hsl(34, 97%, 64%);
}
.card-4 {
  border-color: hsl(212, 86%, 64%);
}
.marg-up {
  margin-top: -0.938rem;
}
.svg {
  position: relative;
  left: 250px;
  bottom: -30px;
}
.flex-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.grid-container {
  display: grid;
  gap: 30px;
}

@media (min-width: 37.5rem) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 40px 20px;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    width: 320px;
    height: 220px;
  }

  .Team-builder{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .Supervisor{
    grid-column: 1 / 2 ;
    grid-row: 2 / 4 ;
  }

  .Karma{
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }

  .Calculator{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

}
